USE [master]
GO
/****** Object:  Database [DronesConstructions]    Script Date: 6/27/2024 1:48:17 PM ******/
CREATE DATABASE [DronesConstructions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DronesConstructions', FILENAME = N'G:\Диплом\БД\DronesConstructions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DronesConstructions_log', FILENAME = N'G:\Диплом\БД\DronesConstructions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DronesConstructions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DronesConstructions]
GO
/****** Object:  Table [dbo].[Батарея]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Батарея](
	[IDБатареи] [int] NOT NULL,
	[НаименованиеБатареи] [nvarchar](100) NOT NULL,
	[Емкость] [int] NOT NULL,
	[НоминальныйТокРазряда] [decimal](6, 2) NOT NULL,
	[ЧислоЯчеек] [tinyint] NOT NULL,
	[МассаБатареи] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_Батарея] PRIMARY KEY CLUSTERED 
(
	[IDБатареи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Задача]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Задача](
	[IDЗадачи] [int] NOT NULL,
	[НаименованиеЗадачи] [nvarchar](50) NOT NULL,
	[ОбластьПрименения] [int] NOT NULL,
 CONSTRAINT [PK_Задача] PRIMARY KEY CLUSTERED 
(
	[IDЗадачи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[КонструкцияДрона]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[КонструкцияДрона](
	[IDКонструкцииДрона] [int] IDENTITY(0,1) NOT NULL,
	[НаименованиеКонструкцииДрона] [nvarchar](50) NOT NULL,
	[ДатаКонструкции] [date] NOT NULL,
	[ТипДрона] [int] NOT NULL,
	[Характеристика] [int] NOT NULL,
	[Батарея] [int] NOT NULL,
	[Регулятор] [int] NOT NULL,
	[Мотор] [int] NOT NULL,
	[Плата] [int] NOT NULL,
 CONSTRAINT [PK_КонструкцияДрона] PRIMARY KEY CLUSTERED 
(
	[IDКонструкцииДрона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[КонструкцияМодуль]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[КонструкцияМодуль](
	[IDСвязи] [int] IDENTITY(0,1) NOT NULL,
	[IDКонструкции] [int] NOT NULL,
	[IDМодуля] [int] NOT NULL,
 CONSTRAINT [PK_КонструкцияМодуль] PRIMARY KEY CLUSTERED 
(
	[IDСвязи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Модуль]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Модуль](
	[IDМодуля] [int] NOT NULL,
	[ТипМодуля] [int] NULL,
	[НаименованиеМодуля] [nvarchar](100) NOT NULL,
	[МассаМодуля] [decimal](8, 3) NOT NULL,
 CONSTRAINT [PK_Модуль] PRIMARY KEY CLUSTERED 
(
	[IDМодуля] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Мотор]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Мотор](
	[IDМотора] [int] NOT NULL,
	[НаименованиеМотора] [nvarchar](100) NOT NULL,
	[СкоростьВращения] [int] NOT NULL,
	[Напряжение] [decimal](4, 2) NOT NULL,
	[МассаМотора] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_Мотор] PRIMARY KEY CLUSTERED 
(
	[IDМотора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ОбластьПрименения]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ОбластьПрименения](
	[IDОбласти] [int] NOT NULL,
	[НаименованиеОбласти] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ОбластьПрименения] PRIMARY KEY CLUSTERED 
(
	[IDОбласти] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Плата]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Плата](
	[IDПлаты] [int] NOT NULL,
	[НаименованиеПлаты] [varchar](100) NOT NULL,
	[КоличествоЯчеекМин] [int] NOT NULL,
	[КоличествоЯчеекМакс] [int] NOT NULL,
	[Cпецификация] [nvarchar](1000) NULL,
	[МассаПлаты] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_Плата] PRIMARY KEY CLUSTERED 
(
	[IDПлаты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПроизводительМотора]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПроизводительМотора](
	[IDПроизводителяМотора] [int] NOT NULL,
	[НаименованиеПроизводителяМотора] [varchar](100) NOT NULL,
	[СтранаПроизводстваМотора] [varchar](30) NULL,
 CONSTRAINT [PK_ПроизводительМотора\] PRIMARY KEY CLUSTERED 
(
	[IDПроизводителяМотора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПроизводительПлаты]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПроизводительПлаты](
	[IDПроизводителяПлаты] [int] NOT NULL,
	[НаименованиеПроизводителяПлаты] [varchar](100) NOT NULL,
	[СтранаПроизводстваПлаты] [varchar](30) NULL,
 CONSTRAINT [PK_ПроизводительПлаты] PRIMARY KEY CLUSTERED 
(
	[IDПроизводителяПлаты] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пропеллер]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пропеллер](
	[IDПропеллера] [int] NOT NULL,
	[КоличествоЛопастей] [tinyint] NOT NULL,
	[ДлинаПропеллера] [decimal](4, 2) NOT NULL,
	[ШагПропеллера] [decimal](4, 2) NOT NULL,
	[МассаПропеллера] [decimal](4, 2) NOT NULL,
	[НаименованиеПропеллера] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Пропеллер] PRIMARY KEY CLUSTERED 
(
	[IDПропеллера] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Регулятор]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Регулятор](
	[IDРегулятора] [int] NOT NULL,
	[ТипДрона] [int] NOT NULL,
	[НаименованиеРегулятора] [nvarchar](50) NOT NULL,
	[МаксимальныйТок] [decimal](3, 1) NOT NULL,
	[КоличествоЯчеекМин] [int] NOT NULL,
	[КоличествоЯчеекМакс] [int] NOT NULL,
	[МассаРегулятора] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_Регулятор] PRIMARY KEY CLUSTERED 
(
	[IDРегулятора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТактикоТехническаяХарактеристика]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТактикоТехническаяХарактеристика](
	[IDХарактеристики] [int] IDENTITY(0,1) NOT NULL,
	[ПродолжительностьПолета] [decimal](10, 3) NOT NULL,
	[ВзлетнаяМасса] [decimal](10, 3) NOT NULL,
	[ОборотыВМинуту] [decimal](12, 3) NOT NULL,
	[Грузоподьемность] [decimal](10, 3) NOT NULL,
 CONSTRAINT [PK_ТактикоТехническаяХарактеристика] PRIMARY KEY CLUSTERED 
(
	[IDХарактеристики] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипДрона]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипДрона](
	[IDТипаДрона] [int] NOT NULL,
	[НаименованиеТипаДрона] [nvarchar](50) NOT NULL,
	[КоличествоВинтов] [tinyint] NOT NULL,
	[Изображение] [image] NULL,
 CONSTRAINT [PK_ТипДрона] PRIMARY KEY CLUSTERED 
(
	[IDТипаДрона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипМодуля]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипМодуля](
	[IDТипаМодуля] [int] NOT NULL,
	[НаименованиеМодуля] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ТипМодуля] PRIMARY KEY CLUSTERED 
(
	[IDТипаМодуля] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТребуемыйМодуль]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТребуемыйМодуль](
	[IDСвязи] [int] NOT NULL,
	[IDЗадачи] [int] NOT NULL,
	[IDТипаМодуля] [int] NOT NULL,
 CONSTRAINT [PK_ТребуемыйМодуль] PRIMARY KEY CLUSTERED 
(
	[IDСвязи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ХарактеристикаМотора]    Script Date: 6/27/2024 1:48:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ХарактеристикаМотора](
	[IDХарактеристики] [int] NOT NULL,
	[Мотор] [int] NOT NULL,
	[Пропеллер] [int] NOT NULL,
	[Газ] [int] NOT NULL,
	[СилаТока] [int] NOT NULL,
	[Тяга] [int] NOT NULL,
	[Мощность] [decimal](10, 2) NOT NULL,
	[Температура] [int] NOT NULL,
 CONSTRAINT [PK_ХарактеристикаМотора] PRIMARY KEY CLUSTERED 
(
	[IDХарактеристики] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Батарея] ([IDБатареи], [НаименованиеБатареи], [Емкость], [НоминальныйТокРазряда], [ЧислоЯчеек], [МассаБатареи]) VALUES (0, N'HRB Lipo Battery 2S XT60 Deans T EC5 RC 3000mah', 3000, CAST(60.00 AS Decimal(6, 2)), 2, CAST(155.00 AS Decimal(6, 2)))
INSERT [dbo].[Батарея] ([IDБатареи], [НаименованиеБатареи], [Емкость], [НоминальныйТокРазряда], [ЧислоЯчеек], [МассаБатареи]) VALUES (1, N'HRB Lipo Battery 2S XT60 Deans T EC5 RC 4000mah', 4000, CAST(60.00 AS Decimal(6, 2)), 2, CAST(210.00 AS Decimal(6, 2)))
INSERT [dbo].[Батарея] ([IDБатареи], [НаименованиеБатареи], [Емкость], [НоминальныйТокРазряда], [ЧислоЯчеек], [МассаБатареи]) VALUES (2, N'HRB Lipo Battery 2S XT60 Deans T EC5 RC 5000mah', 5000, CAST(50.00 AS Decimal(6, 2)), 2, CAST(260.00 AS Decimal(6, 2)))
GO
INSERT [dbo].[Задача] ([IDЗадачи], [НаименованиеЗадачи], [ОбластьПрименения]) VALUES (0, N'Мониторинг урожая', 0)
INSERT [dbo].[Задача] ([IDЗадачи], [НаименованиеЗадачи], [ОбластьПрименения]) VALUES (1, N'Проверка инфраструктуры', 1)
INSERT [dbo].[Задача] ([IDЗадачи], [НаименованиеЗадачи], [ОбластьПрименения]) VALUES (2, N'Мониторинг телеметрических данных', 2)
GO
SET IDENTITY_INSERT [dbo].[КонструкцияДрона] ON 

INSERT [dbo].[КонструкцияДрона] ([IDКонструкцииДрона], [НаименованиеКонструкцииДрона], [ДатаКонструкции], [ТипДрона], [Характеристика], [Батарея], [Регулятор], [Мотор], [Плата]) VALUES (13, N'Трикоптер для мониторинга урожая', CAST(N'2024-06-24' AS Date), 0, 14, 32, 0, 24, 2)
INSERT [dbo].[КонструкцияДрона] ([IDКонструкцииДрона], [НаименованиеКонструкцииДрона], [ДатаКонструкции], [ТипДрона], [Характеристика], [Батарея], [Регулятор], [Мотор], [Плата]) VALUES (14, N'Квадракоптер для мониторинга урожая', CAST(N'2024-06-24' AS Date), 1, 15, 32, 0, 12, 2)
INSERT [dbo].[КонструкцияДрона] ([IDКонструкцииДрона], [НаименованиеКонструкцииДрона], [ДатаКонструкции], [ТипДрона], [Характеристика], [Батарея], [Регулятор], [Мотор], [Плата]) VALUES (15, N'Квадрокоптер для проверки инфраструктуры', CAST(N'2024-06-24' AS Date), 1, 16, 35, 0, 6, 2)
SET IDENTITY_INSERT [dbo].[КонструкцияДрона] OFF
GO
SET IDENTITY_INSERT [dbo].[КонструкцияМодуль] ON 

INSERT [dbo].[КонструкцияМодуль] ([IDСвязи], [IDКонструкции], [IDМодуля]) VALUES (9, 13, 0)
INSERT [dbo].[КонструкцияМодуль] ([IDСвязи], [IDКонструкции], [IDМодуля]) VALUES (10, 13, 4)
INSERT [dbo].[КонструкцияМодуль] ([IDСвязи], [IDКонструкции], [IDМодуля]) VALUES (11, 13, 7)
SET IDENTITY_INSERT [dbo].[КонструкцияМодуль] OFF
GO
INSERT [dbo].[Модуль] ([IDМодуля], [ТипМодуля], [НаименованиеМодуля], [МассаМодуля]) VALUES (0, 0, N'DJI O3 Air Unit Kit         ', CAST(8.300 AS Decimal(8, 3)))
INSERT [dbo].[Модуль] ([IDМодуля], [ТипМодуля], [НаименованиеМодуля], [МассаМодуля]) VALUES (1, 1, N'Тепловизор BoomFPV CVBS 256*192      ', CAST(20.000 AS Decimal(8, 3)))
INSERT [dbo].[Модуль] ([IDМодуля], [ТипМодуля], [НаименованиеМодуля], [МассаМодуля]) VALUES (2, 2, N'Камера ночного видения RunCam Night Eagle 3 v2 Starlight 1000TVL', CAST(8.500 AS Decimal(8, 3)))
GO
INSERT [dbo].[Мотор] ([IDМотора], [НаименованиеМотора], [СкоростьВращения], [Напряжение], [МассаМотора]) VALUES (0, N'SE 2807 1300KV', 1300, CAST(24.00 AS Decimal(4, 2)), CAST(48.00 AS Decimal(5, 2)))
INSERT [dbo].[Мотор] ([IDМотора], [НаименованиеМотора], [СкоростьВращения], [Напряжение], [МассаМотора]) VALUES (1, N'Avenger 3110 730KV', 730, CAST(25.00 AS Decimal(4, 2)), CAST(76.00 AS Decimal(5, 2)))
INSERT [dbo].[Мотор] ([IDМотора], [НаименованиеМотора], [СкоростьВращения], [Напряжение], [МассаМотора]) VALUES (2, N'Avenger 3110 900KV', 900, CAST(25.00 AS Decimal(4, 2)), CAST(76.00 AS Decimal(5, 2)))
GO
INSERT [dbo].[ОбластьПрименения] ([IDОбласти], [НаименованиеОбласти]) VALUES (0, N'Точное земледелие')
INSERT [dbo].[ОбластьПрименения] ([IDОбласти], [НаименованиеОбласти]) VALUES (1, N'Инспекция инфраструктуры')
INSERT [dbo].[ОбластьПрименения] ([IDОбласти], [НаименованиеОбласти]) VALUES (2, N'Поисково-спасательные операции')
GO
INSERT [dbo].[Плата] ([IDПлаты], [НаименованиеПлаты], [КоличествоЯчеекМин], [КоличествоЯчеекМакс], [Cпецификация], [МассаПлаты]) VALUES (0, N'F7 HD 3-6S 30x30 Flight Controller', 3, 6, NULL, CAST(8.40 AS Decimal(6, 2)))
INSERT [dbo].[Плата] ([IDПлаты], [НаименованиеПлаты], [КоличествоЯчеекМин], [КоличествоЯчеекМакс], [Cпецификация], [МассаПлаты]) VALUES (1, N'F405HD2 Flight Controller', 3, 6, NULL, CAST(6.00 AS Decimal(6, 2)))
GO
INSERT [dbo].[ПроизводительМотора] ([IDПроизводителяМотора], [НаименованиеПроизводителяМотора], [СтранаПроизводстваМотора]) VALUES (0, N'BrotherHobby', N'Китай')
INSERT [dbo].[ПроизводительМотора] ([IDПроизводителяМотора], [НаименованиеПроизводителяМотора], [СтранаПроизводстваМотора]) VALUES (1, N'GEPRC', N'Китай')
GO
INSERT [dbo].[ПроизводительПлаты] ([IDПроизводителяПлаты], [НаименованиеПроизводителяПлаты], [СтранаПроизводстваПлаты]) VALUES (0, N'T-Motor', N'Китай')
INSERT [dbo].[ПроизводительПлаты] ([IDПроизводителяПлаты], [НаименованиеПроизводителяПлаты], [СтранаПроизводстваПлаты]) VALUES (1, N'SKYSTARS ', N'Китай')
INSERT [dbo].[ПроизводительПлаты] ([IDПроизводителяПлаты], [НаименованиеПроизводителяПлаты], [СтранаПроизводстваПлаты]) VALUES (2, N'Foxeer', N'Китай')
GO
INSERT [dbo].[Пропеллер] ([IDПропеллера], [КоличествоЛопастей], [ДлинаПропеллера], [ШагПропеллера], [МассаПропеллера], [НаименованиеПропеллера]) VALUES (0, 3, CAST(2.50 AS Decimal(4, 2)), CAST(1.50 AS Decimal(4, 2)), CAST(1.13 AS Decimal(4, 2)), N'HQProp DT63MMX3')
INSERT [dbo].[Пропеллер] ([IDПропеллера], [КоличествоЛопастей], [ДлинаПропеллера], [ШагПропеллера], [МассаПропеллера], [НаименованиеПропеллера]) VALUES (1, 3, CAST(7.50 AS Decimal(4, 2)), CAST(3.70 AS Decimal(4, 2)), CAST(9.40 AS Decimal(4, 2)), N'HQProp 7,5')
INSERT [dbo].[Пропеллер] ([IDПропеллера], [КоличествоЛопастей], [ДлинаПропеллера], [ШагПропеллера], [МассаПропеллера], [НаименованиеПропеллера]) VALUES (2, 3, CAST(7.00 AS Decimal(4, 2)), CAST(3.50 AS Decimal(4, 2)), CAST(36.29 AS Decimal(4, 2)), N'HQ 7*3.5*3 V1s')
GO
INSERT [dbo].[Регулятор] ([IDРегулятора], [ТипДрона], [НаименованиеРегулятора], [МаксимальныйТок], [КоличествоЯчеекМин], [КоличествоЯчеекМакс], [МассаРегулятора]) VALUES (0, 1, N'IFlight BLITZ E80 PRO BLHELI32 80A 4in1 ESC 2-8S', CAST(80.0 AS Decimal(3, 1)), 2, 8, CAST(65.00 AS Decimal(4, 2)))
INSERT [dbo].[Регулятор] ([IDРегулятора], [ТипДрона], [НаименованиеРегулятора], [МаксимальныйТок], [КоличествоЯчеекМин], [КоличествоЯчеекМакс], [МассаРегулятора]) VALUES (1, 1, N'T-Motor F55A PRO II F3 6S 4IN1 32bit', CAST(55.0 AS Decimal(3, 1)), 3, 6, CAST(17.50 AS Decimal(4, 2)))
INSERT [dbo].[Регулятор] ([IDРегулятора], [ТипДрона], [НаименованиеРегулятора], [МаксимальныйТок], [КоличествоЯчеекМин], [КоличествоЯчеекМакс], [МассаРегулятора]) VALUES (2, 1, N'Spedix IS30 2-4S 4in1 BLHeli_', CAST(30.0 AS Decimal(3, 1)), 2, 4, CAST(10.30 AS Decimal(4, 2)))
GO
SET IDENTITY_INSERT [dbo].[ТактикоТехническаяХарактеристика] ON 

INSERT [dbo].[ТактикоТехническаяХарактеристика] ([IDХарактеристики], [ПродолжительностьПолета], [ВзлетнаяМасса], [ОборотыВМинуту], [Грузоподьемность]) VALUES (9, CAST(13.330 AS Decimal(10, 3)), CAST(2.333 AS Decimal(10, 3)), CAST(14600.000 AS Decimal(12, 3)), CAST(5.080 AS Decimal(10, 3)))
INSERT [dbo].[ТактикоТехническаяХарактеристика] ([IDХарактеристики], [ПродолжительностьПолета], [ВзлетнаяМасса], [ОборотыВМинуту], [Грузоподьемность]) VALUES (14, CAST(17.600 AS Decimal(10, 3)), CAST(5.258 AS Decimal(10, 3)), CAST(8198.400 AS Decimal(12, 3)), CAST(1.520 AS Decimal(10, 3)))
INSERT [dbo].[ТактикоТехническаяХарактеристика] ([IDХарактеристики], [ПродолжительностьПолета], [ВзлетнаяМасса], [ОборотыВМинуту], [Грузоподьемность]) VALUES (15, CAST(16.500 AS Decimal(10, 3)), CAST(5.430 AS Decimal(10, 3)), CAST(14600.000 AS Decimal(12, 3)), CAST(3.350 AS Decimal(10, 3)))
SET IDENTITY_INSERT [dbo].[ТактикоТехническаяХарактеристика] OFF
GO
INSERT [dbo].[ТипМодуля] ([IDТипаМодуля], [НаименованиеМодуля]) VALUES (0, N'Камера')
INSERT [dbo].[ТипМодуля] ([IDТипаМодуля], [НаименованиеМодуля]) VALUES (1, N'Тепловизор')
INSERT [dbo].[ТипМодуля] ([IDТипаМодуля], [НаименованиеМодуля]) VALUES (2, N'Камера ночного видения')
GO
INSERT [dbo].[ТребуемыйМодуль] ([IDСвязи], [IDЗадачи], [IDТипаМодуля]) VALUES (0, 0, 3)
INSERT [dbo].[ТребуемыйМодуль] ([IDСвязи], [IDЗадачи], [IDТипаМодуля]) VALUES (1, 0, 4)
INSERT [dbo].[ТребуемыйМодуль] ([IDСвязи], [IDЗадачи], [IDТипаМодуля]) VALUES (2, 1, 1)
GO
INSERT [dbo].[ХарактеристикаМотора] ([IDХарактеристики], [Мотор], [Пропеллер], [Газ], [СилаТока], [Тяга], [Мощность], [Температура]) VALUES (0, 0, 2, 50, 9, 892, CAST(216.00 AS Decimal(10, 2)), 98)
INSERT [dbo].[ХарактеристикаМотора] ([IDХарактеристики], [Мотор], [Пропеллер], [Газ], [СилаТока], [Тяга], [Мощность], [Температура]) VALUES (1, 0, 2, 60, 14, 1164, CAST(326.40 AS Decimal(10, 2)), 98)
INSERT [dbo].[ХарактеристикаМотора] ([IDХарактеристики], [Мотор], [Пропеллер], [Газ], [СилаТока], [Тяга], [Мощность], [Температура]) VALUES (2, 0, 2, 70, 19, 1466, CAST(458.88 AS Decimal(10, 2)), 98)
GO
ALTER TABLE [dbo].[Задача]  WITH CHECK ADD  CONSTRAINT [FK_Задача_ОбластьПрименения] FOREIGN KEY([ОбластьПрименения])
REFERENCES [dbo].[ОбластьПрименения] ([IDОбласти])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Задача] CHECK CONSTRAINT [FK_Задача_ОбластьПрименения]
GO
ALTER TABLE [dbo].[КонструкцияДрона]  WITH CHECK ADD  CONSTRAINT [FK_КонструкцияДрона_Батарея] FOREIGN KEY([Батарея])
REFERENCES [dbo].[Батарея] ([IDБатареи])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[КонструкцияДрона] CHECK CONSTRAINT [FK_КонструкцияДрона_Батарея]
GO
ALTER TABLE [dbo].[КонструкцияДрона]  WITH CHECK ADD  CONSTRAINT [FK_КонструкцияДрона_Плата] FOREIGN KEY([Плата])
REFERENCES [dbo].[Плата] ([IDПлаты])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[КонструкцияДрона] CHECK CONSTRAINT [FK_КонструкцияДрона_Плата]
GO
ALTER TABLE [dbo].[КонструкцияДрона]  WITH CHECK ADD  CONSTRAINT [FK_КонструкцияДрона_Регулятор] FOREIGN KEY([Регулятор])
REFERENCES [dbo].[Регулятор] ([IDРегулятора])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[КонструкцияДрона] CHECK CONSTRAINT [FK_КонструкцияДрона_Регулятор]
GO
ALTER TABLE [dbo].[КонструкцияДрона]  WITH CHECK ADD  CONSTRAINT [FK_КонструкцияДрона_ТактикоТехническаяХарактеристика] FOREIGN KEY([Характеристика])
REFERENCES [dbo].[ТактикоТехническаяХарактеристика] ([IDХарактеристики])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[КонструкцияДрона] CHECK CONSTRAINT [FK_КонструкцияДрона_ТактикоТехническаяХарактеристика]
GO
ALTER TABLE [dbo].[КонструкцияДрона]  WITH CHECK ADD  CONSTRAINT [FK_КонструкцияДрона_ТипДрона] FOREIGN KEY([ТипДрона])
REFERENCES [dbo].[ТипДрона] ([IDТипаДрона])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[КонструкцияДрона] CHECK CONSTRAINT [FK_КонструкцияДрона_ТипДрона]
GO
ALTER TABLE [dbo].[КонструкцияДрона]  WITH CHECK ADD  CONSTRAINT [FK_КонструкцияДрона_ХарактеристикаМотора] FOREIGN KEY([Мотор])
REFERENCES [dbo].[ХарактеристикаМотора] ([IDХарактеристики])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[КонструкцияДрона] CHECK CONSTRAINT [FK_КонструкцияДрона_ХарактеристикаМотора]
GO
ALTER TABLE [dbo].[КонструкцияМодуль]  WITH CHECK ADD  CONSTRAINT [FK_КонструкцияМодуль_КонструкцияДрона] FOREIGN KEY([IDКонструкции])
REFERENCES [dbo].[КонструкцияДрона] ([IDКонструкцииДрона])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[КонструкцияМодуль] CHECK CONSTRAINT [FK_КонструкцияМодуль_КонструкцияДрона]
GO
ALTER TABLE [dbo].[КонструкцияМодуль]  WITH CHECK ADD  CONSTRAINT [FK_КонструкцияМодуль_Модуль] FOREIGN KEY([IDМодуля])
REFERENCES [dbo].[Модуль] ([IDМодуля])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[КонструкцияМодуль] CHECK CONSTRAINT [FK_КонструкцияМодуль_Модуль]
GO
ALTER TABLE [dbo].[Модуль]  WITH CHECK ADD  CONSTRAINT [FK_Модуль_ТипМодуля] FOREIGN KEY([ТипМодуля])
REFERENCES [dbo].[ТипМодуля] ([IDТипаМодуля])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Модуль] CHECK CONSTRAINT [FK_Модуль_ТипМодуля]
GO
ALTER TABLE [dbo].[ТребуемыйМодуль]  WITH CHECK ADD  CONSTRAINT [FK_ТребуемыйМодуль_Задача] FOREIGN KEY([IDЗадачи])
REFERENCES [dbo].[Задача] ([IDЗадачи])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ТребуемыйМодуль] CHECK CONSTRAINT [FK_ТребуемыйМодуль_Задача]
GO
ALTER TABLE [dbo].[ТребуемыйМодуль]  WITH CHECK ADD  CONSTRAINT [FK_ТребуемыйМодуль_ТипМодуля] FOREIGN KEY([IDТипаМодуля])
REFERENCES [dbo].[ТипМодуля] ([IDТипаМодуля])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ТребуемыйМодуль] CHECK CONSTRAINT [FK_ТребуемыйМодуль_ТипМодуля]
GO
ALTER TABLE [dbo].[ХарактеристикаМотора]  WITH CHECK ADD  CONSTRAINT [FK_ХарактеристикаМотора_Мотор] FOREIGN KEY([Мотор])
REFERENCES [dbo].[Мотор] ([IDМотора])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ХарактеристикаМотора] CHECK CONSTRAINT [FK_ХарактеристикаМотора_Мотор]
GO
ALTER TABLE [dbo].[ХарактеристикаМотора]  WITH CHECK ADD  CONSTRAINT [FK_ХарактеристикаМотора_Пропеллер] FOREIGN KEY([Пропеллер])
REFERENCES [dbo].[Пропеллер] ([IDПропеллера])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ХарактеристикаМотора] CHECK CONSTRAINT [FK_ХарактеристикаМотора_Пропеллер]
GO
USE [master]
GO
